h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
}
h1 {
  color: white;
  font-family: 'Comfortaa',cursive;
  text-align:center;
  font-size: 72px;


  font-weight:bolder;
  text-shadow: 5px 5px 5px #000;
  background-color: grey;
  opacity: 0.5;
  border-style: solid;
  border-color: white;
  border-width: thick;

}

body {
background-size: 100% 100%;
  background-image: url("bakewell.jpg");
  background-attachment: fixed;
  color: beige;
  text-align: center;

}

.social{
  border-width:thick;
}


.tillys{
  border-style: solid;
  border-width: thick;

}
