


.food{
  color:white;
  font-family: 'Comfortaa';
  position:absolute;
  top: 40%;
  left:25%;
  border-radius:100px;
  border-color:white;
  border-width:medium;


}

.attractions{
  color:white;
  font-family: 'Comfortaa';
  position:absolute;
  top:40%;
  right:25%;
  border-radius:100px;
  border-color: white;
  border-width: medium;
}

.Googleform{
  position:absolute;
  bottom:5%;
right:5%;


}

h1 {
  color: white;
  font-family: 'Comfortaa',cursive;
  text-align:center;
  font-size: 64px;
  position:absolute;
  top:20%;
  left:25%;
  font-weight:bolder;
  text-shadow: 5px 5px 5px #000;
  background-color: grey;
  opacity: 0.5;
  border-style: solid;
  border-color: white;
  border-width: thick;

}

body {
background-size: 100% 100%;
  background-image: url("hope-valley.jpg");
  background-attachment: fixed;
}
